.alice-carousel {
  width: 100%;
}

.alice-carousel__prev-btn {
  font-size: 5vh;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: -50% !important;
}

.alice-carousel__next-btn {
  font-size: 5vh;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: -50% !important;
}

.alice-carousel__dots {
  display: none;
}

.loginpage .alice-carousel__dots {
  display: block;
  position: absolute;
  bottom: 0;
  left: 0%;
  margin: 2rem;
}

.loginpage .alice-carousel__dots-item.__active {
  background: #f3f3f3 !important;
  padding: 5px;
}